<div class="row">
    <div class="col-lg-4 image-text">
        <a href="products.html">
            <img src="styles/css/img/products.png" id="product-image">
            <p>Products</p>
            <span>Arm is the world’s leading semiconductor IP company. We develop and license technology that is at the heart of more than 100 billion devices, from sensors to smartphones to servers.</span>
        </a>
    </div>
    <div class="col-lg-4 image-text">
        <img src="img/products.png">
        <p>Updates</p>
    </div>
    <div class="col-lg-4 image-text">
        <img src="styles/css/img/products.png" id="product-image">
        <p>Downloads</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 image-text">
        <img src="styles/css/img/products.png" id="product-image">
        <p>Login</p>
    </div>
    <div class="col-lg-4 image-text">
        <!-- <img src="img/products.jpg">
        <p>Downloads</p> -->
        <video controls autoplay>
            <source src="/html5/foo.ogg" type="video/ogg" />
            <source src="/html5/foo.mp4" type="video/mp4" />
            Your browser does not support the video element.
        </video>
    </div>
    <div class="col-lg-4 image-text">
        <img src="styles/css/img/products.png" id="product-image">
        <p>Register</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <h3>Related Products</h3>
    </div>
    <div class="row">
        <div class="col-lg-4 related-products">
            <img src="img\arm-cortex-a7x.png" id="product-image">
            <p>ARM Cortex A7X series</p>
            <span>Cortex-A75 - 64/32-bit Armv8-A 2018 DynamIQ processor for highest performance from mobile to cloud</span>
        </div>
        <div class="col-lg-4 related-products">
            <img src="img/arm-cortex-a5x.png">
            <p>ARM Cortex A5X series</p>
            <span>Cortex-A55 - 64/32-bit Armv8-A Highest efficiency DynamIQ processor for mid-range solutions</span>
        </div>
    </div>
</div>