<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Project.ARMSite" description="Project ARMSite" dependencies="Foundation.Serialization,Foundation.Assets" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\Project\ARM\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Project.ARMSite.Templates" database="master" path="/sitecore/templates/project/ARM" />
            <include name="Project.ARMSite.Renderings" database="master" path="/sitecore/layout/renderings/project/ARM" />
            
            <include name="Project.ARMSite.Media" database="master" path="/sitecore/media library/Project/ARM" />
            <include name="Project.ARMSite.Content" database="master" path="/sitecore/content/ARM" />
          </predicate>
          <!--<roleDataStore type="Unicorn.Roles.Data.FilesystemRoleDataStore, Unicorn.Roles" physicalRootPath="$(sourceFolder)\feature\accounts\serialization\Feature.Accounts.Roles" singleInstance="true"/>-->
          <!--<rolePredicate type="Unicorn.Roles.RolePredicates.ConfigurationRolePredicate, Unicorn.Roles" singleInstance="true">
            <include domain="modules" pattern="^Feature Accounts .*$" />
          </rolePredicate>-->
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>